---
import Layout from '../layouts/Layout.astro'
---

<Layout page="about-me">
	<section
		class="flex w-full max-w-6xl flex-col gap-6 px-4 text-start md:px-8 lg:items-start lg:gap-8 lg:text-left"
	>
		<div class="flex flex-col gap-6 md:items-center lg:flex-row-reverse lg:items-start">
			<div class="flex max-w-96 lg:w-full">
				<img src="/john.jpg" alt="john-dp" class="aspect-square rounded-full object-cover lg:w-full" />
			</div>
			<div class="flex flex-col gap-6 sm:max-w-[64ch] lg:w-full">
				<h1
					class="text-2xl font-semibold leading-none text-jk-purple sm:text-3xl lg:text-4xl"
				>
					ABOUT JOHN <span class="font-emoji">😎</span>
				</h1>
				<h2 class="text-lg font-semibold text-jk-purple sm:text-xl lg:text-2xl">
					Product Manager
				</h2>
				<p class="text-sm font-normal sm:text-base">
					Welcome to my portfolio! I am an innovative product designer based in Lagos,
					renowned for <span class="text-jk-purple font-medium"
						>delivering exceptional user-centered designs solutions and driving business
						growth</span
					> in the dynamic blockchain and Web3 industry.
				</p>
				<p class="text-sm font-normal sm:text-base">
					Additionally, I am also a product manager, enabling me to contribute not only to
					the design aspect but also to <span class="text-jk-purple font-medium">
						the strategic planning, development, launch, and management of products and
						services.
					</span>
				</p>
				<p class="text-sm font-normal sm:text-base">
					In Web3, I have extensive experience working in <span class="text-jk-purple font-medium"
						>Consumer techs, Asset Management, DAOs, NFT Marketplaces, DEXs, Payments,
						B2B, and Developer tools.</span
					> I am also open to working and providing more user-centric solutions in other sectors
					of blockchain and Web3.
				</p>
				<p class="text-sm font-normal sm:text-base">
					I'm comfortable wearing multiple hats and switching them between <span
						class="text-jk-purple font-medium">Product Design and Product Management.</span
					>
				</p>

				<p class="text-sm font-normal sm:text-base">
					When I'm not working, I find purpose in community building in the blockchain and
					Web3 space.
				</p>
			</div>
		</div>
	</section>
	<section
		class="flex w-full max-w-6xl flex-col gap-6 px-4 text-center md:px-8 lg:gap-8 lg:text-left"
	>
		<div class="flex flex-col gap-2 text-center lg:text-left">
			<h2 class="text-3xl font-medium text-jk-purple sm:text-4xl lg:text-3xl">
				What I can do
			</h2>
			<p class="text-sm font-normal sm:text-base">If you can name it, I can do it.</p>
		</div>
		<div class="grid grid-cols-1 gap-5 md:grid-cols-2  xl:gap-x-28 xl:gap-y-16">
			<div class="flex flex-col rounded-2xl border border-neutral-300 shadow-sm">
				<img alt="design" src="/design.jpg" class="rounded-t-2xl" />
				<div class="flex flex-col gap-3 p-4 text-left lg:gap-4">
					<h3 class="text-2xl font-medium text-jk-purple md:text-2xl lg:text-2xl">
						DESIGN
					</h3>
					<p class="text-sm font-normal  md:text-base">
						UI designs, user-centered designs, design thinking, user flows, concept
						sketches, wireframes, mockups, information architecture, journey mapping,
						design advocacy, and user advocacy, accessibility design.
					</p>
				</div>
			</div>
			<div class="flex flex-col rounded-2xl border border-neutral-300 shadow-sm">
				<img alt="design" src="/product-management.jpg" class="rounded-t-2xl" />
				<div class="flex flex-col gap-3 p-4 text-left lg:gap-4">
					<h3
						class="min-w-max text-2xl font-medium text-jk-purple md:text-2xl lg:text-2xl"
					>
						PRODUCT MANAGEMENT
					</h3>
					<p class="text-sm font-normal md:text-base">
						Product analytics, product strategy, product development, product marketing,
						stakeholder management, team building & leadership, prioritization,
						data-analytics, roadmapping, user-centric approach, technical knowledge,
						GTM and PLG strategy, content optimiziation.
					</p>
				</div>
			</div>
			<div class="flex flex-col rounded-2xl border border-neutral-300 shadow-sm">
				<img alt="design" src="/research.jpg" class="rounded-t-2xl" />
				<div class="flex flex-col gap-3 p-4 text-left lg:gap-4">
					<h3 class="text-2xl font-medium text-jk-purple md:text-2xl lg:text-2xl">
						RESEARCH
					</h3>
					<p class="text-sm font-normal md:text-base">
						Product research, user research, UX audit, cognitive walkthrough, market
						research, insights gathering, competitive analysis.
					</p>
				</div>
			</div>
			<div class="flex flex-col rounded-2xl border border-neutral-300 shadow-sm">
				<img alt="design" src="/collaborations.jpg" class="rounded-t-2xl" />
				<div class="flex flex-col gap-3 p-4 text-left lg:gap-4">
					<h3 class="text-2xl font-medium text-jk-purple md:text-2xl lg:text-2xl">
						COLLABORATIONS
					</h3>
					<p class="text-sm font-normal md:text-base">
						UX and business strategy, ideation, survey, flexible, detail-oriented,
						communicative, design-critique.
					</p>
				</div>
			</div>
			<div class="flex flex-col rounded-2xl border border-neutral-300 shadow-sm">
				<img alt="design" src="/soft-skills.jpg" class="rounded-t-2xl" />
				<div class="flex flex-col gap-3 p-4 text-left lg:gap-4">
					<h3 class="text-2xl font-medium text-jk-purple md:text-2xl lg:text-2xl">
						SOFT SKILLS
					</h3>
					<p class="text-sm font-normal md:text-base">
						Communication, critical thinking, collaboration, problem solving,
						receptiveness to feedback, decision making, scrum framework, agile
						methodology, time management.
					</p>
				</div>
			</div>
			<div class="flex flex-col rounded-2xl border border-neutral-300 shadow-sm">
				<img alt="design" src="/testing.jpg" class="rounded-t-2xl" />
				<div class="flex flex-col gap-3 p-4 text-left lg:gap-4">
					<h3 class="text-2xl font-medium text-jk-purple md:text-2xl lg:text-2xl">
						TESTING
					</h3>
					<p class="text-sm font-normal md:text-base">
						Usability testing, user testing, a/b testing, heuristics evalaution.
					</p>
				</div>
			</div>
			<div class="flex flex-col rounded-2xl border border-neutral-300 shadow-sm">
				<img alt="design" src="/writing.jpg" class="rounded-t-2xl" />
				<div class="flex flex-col gap-3 p-4 text-left lg:gap-4">
					<h3 class="text-2xl font-medium text-jk-purple md:text-2xl lg:text-2xl">
						WRITING
					</h3>

					<p class="text-sm font-normal md:text-base">UX writing, story telling, documentation.</p>
				</div>
			</div>
			<div class="flex flex-col rounded-2xl border border-neutral-300 shadow-sm">
				<img alt="design" src="/design.jpg" class="rounded-t-2xl" />
				<div class="flex flex-col gap-3 p-4 text-left lg:gap-4">
					<h3 class="text-2xl font-medium text-jk-purple md:text-2xl lg:text-2xl">
						PROTOTYPING
					</h3>
					<p class="text-sm font-normal md:text-base">
						Rapid prototyping using Fignma and Invision Studio, paper prototyping.
					</p>
				</div>
			</div>
		</div>
	</section>
</Layout>
