---
import Layout from '../layouts/Layout.astro'
---

<Layout page="contact-me">
	<section class="flex w-full max-w-6xl flex-col gap-6 px-4 md:px-8 lg:gap-8">
		<div class="flex flex-col gap-14 lg:flex-row lg:justify-between lg:gap-16">
			<div class="flex w-full min-w-max flex-col gap-4 sm:gap-5">
				<h2 class="text-xl font-semibold text-jk-purple sm:text-3xl lg:text-4xl">
					Interested?
				</h2>
				<form class="flex flex-col gap-2 sm:max-w-96 sm:gap-4" action="https://submit-form.com/eIVT5iLnz" data->
					<label class="text-lg sm:text-xl" for="name">Name</label>
					<input class="h-10 w-full rounded-2xl border border-neutral-300 px-4 outline-none focus:border-neutral-500" type="text" id="name" name="name" placeholder="Name" required="" />
					<label class="text-lg sm:text-xl" for="email">Email</label>
					<input class="h-10 w-full rounded-2xl border border-neutral-300 px-4 outline-none focus:border-neutral-500" type="email" id="email" name="email" placeholder="Email" required="" />
					<label class="text-lg sm:text-xl" for="message">Message</label>
					<textarea
					  class="h-24 w-full rounded-2xl border border-neutral-300 px-4 outline-none focus:border-neutral-500"
					  id="message"
					  name="message"
					  placeholder="Message"
					  required=""
					></textarea>
					<button class="h-10 self-start rounded-2xl bg-jk-purple px-8 text-sm text-white duration-200 hover:bg-jk-purple/80" type="submit">Send</button>
				  </form>
				  

			</div>
			<div class="flex w-full flex-col gap-4">
				<h2 class="text-xl font-semibold text-jk-purple sm:text-3xl lg:text-4xl">
					Get in touch!
				</h2>
				<p class="max-w-[50ch] sm:text-lg">
					Contact me for UX audits, user-centric solutions for retention and conversion of
					users, product strategy and roadmapping, MVP designs, and overall product design
					and product management related work.
				</p>
				<div class="flex w-full gap-4 lg:gap-10">
					<a href="https://www.linkedin.com/in/john-omoogun-0b1422207" target="_blank" rel="noopener noreferrer">
						<img src="/linkedin.jpg" alt="linked-icon">
					</a>
					<a href="https://medium.com/@johnkayodedesigns" target="_blank" rel="noopener noreferrer">
						<img src="/medium.jpg" alt="medium-icon">
					</a>
					<a href="https://www.behance.net/johnkayode" target="_blank" rel="noopener noreferrer">
						 <img src="/behance.jpg" alt="behance-icon">
					</a>
				</div>
			</div>	
			
		</div>
	</section>
</Layout>
