---
import Layout from '../layouts/Layout.astro'
---

<Layout page="home" showFooter>
	<section
		class="flex w-full max-w-6xl flex-col md:items-center gap-6 px-4 md:text-center md:px-8 lg:items-start lg:gap-8 lg:text-left"
	>
		<p class="flex flex-col gap-4 text-jk-purple lg:gap-6">
			<span class="text-xl sm:text-3xl lg:text-4xl">
				Hi! I'm John <span class="font-emoji">👋</span>,
			</span>
			<span class="max-w-[30ch] text-3xl font-semibold sm:text-4xl lg:text-5xl "
				>Product Designer & <br> Product Manager Working In Web3.</span
			>
		</p>
		<p class="max-w-[54ch] font-normal sm:text-lg lg:text-xl lg:max-w-[70ch]">
			I specialize in building and managing user-centric digital solutions in the Web3
			industry, <span class="font-medium text-jk-purple"
				>prioritizing user experience aligning with business goals and impacts.</span
			>
		</p>
		<div class="flex justify-start gap-6 md:justify-center lg:justify-start">
			<button
				class="h-10 rounded-2xl bg-jk-purple px-7 text-sm text-white duration-200 hover:bg-jk-purple/80"
				onclick="location.href='https://calendly.com/johnkayodedesigns'"
				>SCHEDULE A CALL</button
			>
			<button
				class="h-10 rounded-2xl border-2 border-jk-purple px-7 text-sm text-jk-purple duration-200 hover:bg-jk-purple/10"
				onclick="document.location =  'mailto:johnkayodedesigns@gmail.com'" 
				>E-MAIL</button
			>
		</div>
	</section>
	<section
		class="flex w-full max-w-6xl flex-col gap-6 border-t-2 border-none px-4 pt-10 text-center md:px-8"
	>
		<h1 class="text-3xl text-start font-semibold text-jk-purple sm:text-4xl lg:text-5xl md:text-center">
			Featured Works
		</h1>

		<div class="flex flex-col gap-8 lg:flex-row lg:gap-24">
			<div class="flex flex-col  items-start md:items-center">
				<a href="https://www.figma.com/proto/Q5Z2a1ZGbGfnQ30wtum1L9/SYMMETRY-APP-REDESIGN?page-id=146%3A10499&type=design&node-id=146-10500&viewport=446%2C460%2C0.38&t=FgbmH3cXPIPqThal-1&scaling=scale-down-width&mode=design" target="_blank" class="flex text-sm duration-200">
					<img alt="Symmetry" src="/symmetry.jpg" class="mt-8 mb-4 md:mt-20 md:mb-6" />
				</a>
				<div class="flex w-full max-w-[28rem] flex-col gap-2">
					<div class="flex  flex-col text-start justify-between gap-2 md:text-center lg:text-left">
						<a href="https://www.figma.com/proto/Q5Z2a1ZGbGfnQ30wtum1L9/SYMMETRY-APP-REDESIGN?page-id=146%3A10499&type=design&node-id=146-10500&viewport=446%2C460%2C0.38&t=FgbmH3cXPIPqThal-1&scaling=scale-down-width&mode=design" target="_blank" class="flex text-sm duration-200">
							<h2 class="text-xl font-semibold sm:text-2xl lg:text-xl">
								SYMMETRY
							</h2>
						</a>		
						<p class="min-w-max text-jk-grey sm:text-lg lg:text-sm">WEB3, ASSET MANAGEMENT</p>
					</div>
					<div class="flex flex-col text-start justify-between gap-2 text-sm sm:text-base md:text-center lg:text-left lg:text-sm">
						<ul class="list-disc ml-4">
							<li>PRODUCT & UX DESIGN</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="flex flex-col items-start md:items-center">
				<a href="https://www.figma.com/proto/kinYN60RiNUtiJf56TNIy4/APTOS-PORTFOLIO-TRACKER?page-id=76%3A853&amp;node-id=76%3A854&amp;viewport=271%2C527%2C0.5&amp;scaling=scale-down-width" target="_blank" class="flex text-sm duration-200">
					<img alt="Apfolio" src="/apfolio.jpg" class="mt-8 mb-4 md:mt-20 md:mb-6" />
				</a>
				<div class="flex w-full max-w-[28rem] flex-col gap-2">
					<div class="flex flex-col text-start justify-between gap-2 md:text-center lg:text-left">
						<a href="https://www.figma.com/proto/kinYN60RiNUtiJf56TNIy4/APTOS-PORTFOLIO-TRACKER?page-id=76%3A853&amp;node-id=76%3A854&amp;viewport=271%2C527%2C0.5&amp;scaling=scale-down-width" target="_blank" class="flex text-sm duration-200">
							<h2 class="text-xl font-semibold  sm:text-2xl lg:text-xl">
								APFOLIO
							</h2>
						</a>	
						<p class="sm:text-lg lg:text-sm text-jk-grey">WEB3, ANALYTICS</p>
					</div>
					<div class="flex flex-col text-start  justify-between gap-2 text-sm sm:text-base md:text-center lg:text-left lg:text-sm">
						<ul class="list-disc ml-4">
							<li>PRODUCT & UX DESIGN</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="flex flex-col items-start md:items-center">
				<a href="https://www.figma.com/proto/dcjgE9JoOujnxxzUFXAkax/PAY-WITH-CRYPTO-FEATURE-IN-APPLE-MUSIC?page-id=0%3A1&amp;type=design&amp;node-id=88-212&amp;viewport=2099%2C-8315%2C0.36&amp;t=UMMsvLMSnlQrHgK0-1&amp;scaling=scale-down-width&amp;mode=design" target="_blank" class="flex text-sm duration-200">
					<img alt="Apple" src="/apple.jpg" class="mt-6 mb-4 md:mt-20 md:mb-6" />
				</a>
				<div class="flex w-full max-w-[28rem] flex-col gap-2">
					<div class="flex flex-col text-start justify-between gap-2 md:text-center lg:text-left">
						<a href="https://www.figma.com/proto/dcjgE9JoOujnxxzUFXAkax/PAY-WITH-CRYPTO-FEATURE-IN-APPLE-MUSIC?page-id=0%3A1&amp;type=design&amp;node-id=88-212&amp;viewport=2099%2C-8315%2C0.36&amp;t=UMMsvLMSnlQrHgK0-1&amp;scaling=scale-down-width&amp;mode=design" target="_blank" class="flex text-sm duration-200">
							<h2 class="text-xl font-semibold  sm:text-2xl lg:text-xl">
								APPLE
							</h2>
						</a>
						<p class="sm:text-lg lg:text-sm text-jk-grey">WEB3, CRYPTO PAYMENTS</p>
					</div>
					<div class="flex flex-col text-start justify-between gap-2 text-sm sm:txet-base md:text-center lg:text-left lg:text-sm">
						<ul class="list-disc ml-4">
							<li>PRODUCT MANAGEMENT</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class="flex flex-col mt-8 items-start md:items-center">
			<a
				href="/works"
				class="flex h-10 items-center justify-center gap-3 rounded-2xl bg-jk-purple fill-white px-7 text-white duration-200 hover:bg-jk-purple/80"
			>
				See More Work

				<svg
					xmlns="http://www.w3.org/2000/svg"
					height="24"
					viewBox="0 -960 960 960"
					width="24"
					><path d="m600-200-57-56 184-184H80v-80h647L544-704l56-56 280 280-280 280Z"
					></path></svg
				>
			</a>
		</div>
	</section>
</Layout>
