---
import Layout from '../layouts/Layout.astro'
---

<Layout page="pm-works">
	<section class="flex w-full max-w-6xl flex-col gap-6 px-4 md:px-8 lg:gap-8">
		<div class="flex flex-col gap-10">
			<div class="flex flex-col gap-4 sm:flex-row md:gap-8 xl:gap-48">
				<img
					alt="Apple Services"
					src="/apple.gif"
					class="aspect-square w-full rounded-2xl border object-cover sm:h-60 sm:w-60 md:h-72 md:w-72 lg:h-80 lg:w-80"
				/>
				<div class="flex flex-col items-start gap-4 md:gap-6 lg:gap-7">
					<h1 class="text-3xl font-semibold text-jk-purple md:text-4xl lg:text-3xl">
						APPLE SERVICES
					</h1>
					<p class="text-sm md:text-base lg:text-lg">
						Introducing the pay with crypto feature as a mode of subscription for Apple
						Services.
					</p>
					<p class="font-medium text-jk-gray md:text-lg lg:text-xl">
						ROLE: PRODUCT MANAGER & DESIGNER
					</p>
					<p class="font-medium md:text-lg lg:text-xl">PRODUCT: WEB3 PAYMENT</p>
					<a
						href="https://www.figma.com/proto/dcjgE9JoOujnxxzUFXAkax/PAY-WITH-CRYPTO-FEATURE-IN-APPLE-MUSIC?page-id=0%3A1&amp;type=design&amp;node-id=88-212&amp;viewport=2099%2C-8315%2C0.36&amp;t=UMMsvLMSnlQrHgK0-1&amp;scaling=scale-down-width&amp;mode=design"
						target="_blank"
						class="flex h-9 items-center justify-center rounded-2xl bg-jk-purple px-7 text-sm text-white duration-200 hover:bg-jk-purple/80"
						>READ CASE STUDY</a
					>
				</div>
			</div>
			<div class="flex flex-col gap-4 sm:flex-row md:gap-8 xl:gap-48">
				<img
					alt="Trackit"
					src="/trackit.gif"
					class="aspect-square w-full rounded-2xl border object-cover sm:h-60 sm:w-60 md:h-72 md:w-72 lg:h-80 lg:w-80"
				/>
				<div class="flex flex-col items-start gap-4 md:gap-6 lg:gap-7">
					<h1 class="text-3xl font-semibold text-jk-purple md:text-4xl lg:text-3xl">
						TRACKIT MOBILE APP
					</h1>
					<p class="text-sm md:text-base lg:text-lg">
						A seamless digital logistics solution for business owners to ensure prompt
						and dependable deliveries, and for online shoppers to effortlessly connect
						with trusted couriers.
					</p>
					<p class="font-medium text-jk-gray md:text-lg lg:text-xl">ROLE: PRODUCT MANAGER</p>
					<p class="font-medium md:text-lg lg:text-xl">PRODUCT: E-COMMERCE</p>
					<a
						href="https://www.figma.com/proto/6hRoXmRdpv465gudMh57OK/TRACK-IT-MOBILE-APP?page-id=0%3A1&amp;type=design&amp;node-id=1422-1408&amp;viewport=16452%2C-530%2C0.38&amp;t=BEnLUQX9mi26niPk-1&amp;scaling=scale-down-width&amp;starting-point-node-id=550%3A185&amp;mode=design"
						target="_blank"
						class="flex h-9 items-center justify-center rounded-2xl bg-jk-purple px-7 text-sm text-white duration-200 hover:bg-jk-purple/80"
						>READ CASE STUDY</a
					>
				</div>
			</div>
		</div>
	</section>
</Layout>
