---
import Layout from '../layouts/Layout.astro'
---

<Layout page="works">
	<section class="flex  w-full max-w-6xl flex-col gap-6 px-4 md:px-8 lg:gap-8">
		<div class="flex flex-col gap-10">
			<div  class="flex flex-col gap-4 sm:flex-row md:gap-4 xl:gap-80 xl:ml-2">
				<a href="https://www.figma.com/proto/Q5Z2a1ZGbGfnQ30wtum1L9/SYMMETRY-APP-REDESIGN?page-id=146%3A10499&type=design&node-id=146-10500&viewport=446%2C460%2C0.38&t=FgbmH3cXPIPqThal-1&scaling=scale-down-width&mode=design" target="_blank" class=" text-sm duration-200">
				<img
					alt="Symmetry"
					src="/symmetry.gif"
					class="aspect-square w-full rounded-2xl border object-cover sm:h-60 sm:w-60 md:h-72 md:w-72 lg:h-80 lg:w-80"
				/>
				</a>
				<div class="flex flex-col items-start  gap-4 md:gap-6 lg:gap-7">
					<a href="https://www.figma.com/proto/Q5Z2a1ZGbGfnQ30wtum1L9/SYMMETRY-APP-REDESIGN?page-id=146%3A10499&type=design&node-id=146-10500&viewport=446%2C460%2C0.38&t=FgbmH3cXPIPqThal-1&scaling=scale-down-width&mode=design" target="_blank" class="text-sm duration-200">
						<h1 class="text-3xl font-semibold text-jk-purple md:text-4xl lg:text-3xl">
							SYMMETRY
						</h1>
					</a>
					<p class="text-sm md:text-base lg:text-lg">
						Redesigning and improving the flow and ease of use of the create funds and
						manage funds features.
					</p>
					<p class="font-medium text-jk-gray md:text-lg lg:text-xl">ROLE: PRODUCT DESIGNER</p>
					<p class="font-medium md:text-lg lg:text-xl">
						PRODUCT: WEB3 | ASSET MANAGEMENT
					</p>
					<a
						href="https://www.figma.com/proto/Q5Z2a1ZGbGfnQ30wtum1L9/SYMMETRY-APP-REDESIGN?page-id=146%3A10499&type=design&node-id=146-10500&viewport=446%2C460%2C0.38&t=FgbmH3cXPIPqThal-1&scaling=scale-down-width&mode=design"
						target="_blank"
						class="flex h-9 items-center justify-center rounded-2xl bg-jk-purple px-7 text-sm text-white duration-200 hover:bg-jk-purple/80"
						>READ CASE STUDY</a
					>
				</div>
			</div>
			<div class="flex flex-col gap-4 sm:flex-row md:gap-8 xl:gap-56">
				<a href="https://www.figma.com/proto/kinYN60RiNUtiJf56TNIy4/APTOS-PORTFOLIO-TRACKER?page-id=76%3A853&amp;node-id=76%3A854&amp;viewport=271%2C527%2C0.5&amp;scaling=scale-down-width"target="_blank"class="flex text-sm duration-200">
				<img
					alt="Apfolio"
					src="/apfolio.gif"
					class="aspect-square w-full rounded-2xl border object-cover sm:h-60 sm:w-60 md:h-72 md:w-72 lg:h-80 lg:w-80"
				/>
				</a>
				<div class="flex flex-col items-start gap-4 md:gap-6 lg:gap-7">
					<a href="https://www.figma.com/proto/kinYN60RiNUtiJf56TNIy4/APTOS-PORTFOLIO-TRACKER?page-id=76%3A853&amp;node-id=76%3A854&amp;viewport=271%2C527%2C0.5&amp;scaling=scale-down-width"target="_blank"class="flex text-sm duration-200">
						<h1 class="text-3xl font-semibold text-jk-purple md:text-4xl lg:text-3xl">
							APFOLIO PORTFOLIO TRACKER
						</h1>
					</a>	
					<p class="text-sm md:text-base lg:text-lg xl:mr-8 xl:-ml-0">
						Building ApFolio, Aptos first digital portfolio tracking tool from 0-1.
					</p>
					<p class="font-medium text-jk-gray md:text-lg lg:text-xl">ROLE: PRODUCT DESIGNER</p>
					<p class="font-medium md:text-lg lg:text-xl">
						PRODUCT: WEB3 | PORTFOLIO ANALYTICS
					</p>
					<a
						href="https://www.figma.com/proto/kinYN60RiNUtiJf56TNIy4/APTOS-PORTFOLIO-TRACKER?page-id=76%3A853&amp;node-id=76%3A854&amp;viewport=271%2C527%2C0.5&amp;scaling=scale-down-width"
						target="_blank"
						class="flex h-9 items-center justify-center rounded-2xl bg-jk-purple px-7 text-sm text-white duration-200 hover:bg-jk-purple/80"
						>READ CASE STUDY</a
					>
				</div>
			</div>
			<div class="flex flex-col gap-4 sm:flex-row md:gap-8 xl:gap-48">
				<a href="https://www.figma.com/proto/iWeyujMNMdD1L41zLwVFmx/DESIGN-SPRINT-FOR-WEB3-SHOPPING-STORE?page-id=0%3A1&amp;type=design&amp;node-id=156-701&amp;viewport=1960%2C-4907%2C0.5&amp;t=bGMr5r7Eh48jAjaG-1&amp;scaling=min-zoom&amp;starting-point-node-id=156%3A701" target="_blank" class="duration-200">
				<img
					alt="Web3 Mart"
					src="/web3mart.gif"
					class="aspect-square w-full rounded-2xl border object-cover sm:h-60 sm:w-60 md:h-72 md:w-72 lg:h-80 lg:w-80"
				/>
				</a>
				<div class="flex flex-col items-start gap-4 md:gap-6 lg:gap-7">
					<a href="https://www.figma.com/proto/iWeyujMNMdD1L41zLwVFmx/DESIGN-SPRINT-FOR-WEB3-SHOPPING-STORE?page-id=0%3A1&amp;type=design&amp;node-id=156-701&amp;viewport=1960%2C-4907%2C0.5&amp;t=bGMr5r7Eh48jAjaG-1&amp;scaling=min-zoom&amp;starting-point-node-id=156%3A701" target="_blank" class="flex text-sm duration-200">
						<h1 class="text-3xl font-semibold text-jk-purple md:text-4xl lg:text-3xl">
							WEB3 MART
						</h1>
					</a>	
					<p class="text-sm md:text-base lg:text-lg">
						Design sprint for a multi-chain Web3 e-commerce platform.
					</p>
					<p class="font-medium text-jk-gray md:text-lg lg:text-xl">ROLE: PRODUCT DESIGNER</p>
					<p class="font-medium md:text-lg lg:text-xl">PRODUCT: WEB3 | E-COMMERCE</p>
					<a
						href="https://www.figma.com/proto/iWeyujMNMdD1L41zLwVFmx/DESIGN-SPRINT-FOR-WEB3-SHOPPING-STORE?page-id=0%3A1&amp;type=design&amp;node-id=156-701&amp;viewport=1960%2C-4907%2C0.5&amp;t=bGMr5r7Eh48jAjaG-1&amp;scaling=min-zoom&amp;starting-point-node-id=156%3A701"
						target="_blank"
						class="flex h-9 items-center justify-center rounded-2xl bg-jk-purple px-7 text-sm text-white duration-200 hover:bg-jk-purple/80"
						>READ CASE STUDY</a
					>
				</div>
			</div>
		</div>
	</section>
</Layout>
