---
import Layout from '../layouts/Layout.astro'
---

<Layout page="works">
	<section class="flex w-full max-w-6xl flex-col gap-6 px-4 md:px-8 lg:gap-8">
		<div class="flex flex-col gap-10">
			<div class="flex flex-col gap-4 sm:flex-row md:gap-8">
				<img
					alt="Symmetry"
					src="/symmetry.gif"
					class="aspect-square w-full rounded-2xl border object-cover sm:h-60 sm:w-60 md:h-72 md:w-72 lg:h-80 lg:w-80"
				/>
				<div class="flex flex-col items-start gap-4 md:gap-6 lg:gap-7">
					<h1 class="text-3xl font-semibold text-jk-purple md:text-4xl lg:text-5xl">
						SYMMETRY
					</h1>
					<p class="text-sm md:text-base lg:text-lg">
						Redesigning and improving the flow and ease of use of the create funds and
						manage funds features.
					</p>
					<p class="font-semibold md:text-lg lg:text-xl">ROLE: PRODUCT DESIGNER</p>
					<p class="font-semibold md:text-lg lg:text-xl">
						PRODUCT: WEB3 | ASSET MANAGEMENT
					</p>
					<a
						href="/todo"
						class="flex h-9 items-center justify-center rounded-2xl bg-jk-purple px-7 text-sm text-white duration-200 hover:bg-jk-purple/80"
						>READ CASE STUDY</a
					>
				</div>
			</div>
			<div class="flex flex-col gap-4 sm:flex-row md:gap-8">
				<img
					alt="Apfolio"
					src="/apfolio.gif"
					class="aspect-square w-full rounded-2xl border object-cover sm:h-60 sm:w-60 md:h-72 md:w-72 lg:h-80 lg:w-80"
				/>
				<div class="flex flex-col items-start gap-4 md:gap-6 lg:gap-7">
					<h1 class="text-3xl font-semibold text-jk-purple md:text-4xl lg:text-5xl">
						APFOLIO PORTFOLIO TRACKER
					</h1>
					<p class="text-sm md:text-base lg:text-lg">
						Building ApFolio, Aptos first digital portfolio tracking tool from 0-1.
					</p>
					<p class="font-semibold md:text-lg lg:text-xl">ROLE: PRODUCT DESIGNER</p>
					<p class="font-semibold md:text-lg lg:text-xl">
						PRODUCT: WEB3 | PORTFOLIO ANALYTICS
					</p>
					<a
						href="/todo"
						class="flex h-9 items-center justify-center rounded-2xl bg-jk-purple px-7 text-sm text-white duration-200 hover:bg-jk-purple/80"
						>READ CASE STUDY</a
					>
				</div>
			</div>
			<div class="flex flex-col gap-4 sm:flex-row md:gap-8">
				<img
					alt="Web3 Mart"
					src="/apfolio.gif"
					class="aspect-square w-full rounded-2xl border object-cover sm:h-60 sm:w-60 md:h-72 md:w-72 lg:h-80 lg:w-80"
				/>
				<div class="flex flex-col items-start gap-4 md:gap-6 lg:gap-7">
					<h1 class="text-3xl font-semibold text-jk-purple md:text-4xl lg:text-5xl">
						WEB3 MART
					</h1>
					<p class="text-sm md:text-base lg:text-lg">
						Design sprint for a multi-chain Web3 e-commerce platform.
					</p>
					<p class="font-semibold md:text-lg lg:text-xl">ROLE: PRODUCT DESIGNER</p>
					<p class="font-semibold md:text-lg lg:text-xl">PRODUCT: WEB3 | E-COMMERCE</p>
					<a
						href="/todo"
						class="flex h-9 items-center justify-center rounded-2xl bg-jk-purple px-7 text-sm text-white duration-200 hover:bg-jk-purple/80"
						>READ CASE STUDY</a
					>
				</div>
			</div>
		</div>
	</section>
</Layout>
