---
import Layout from '../layouts/Layout.astro'
---

<Layout page="works">
	<section class="flex flex-col gap-4 px-4 md:px-8">
		<!-- <div class="flex flex-col text-center">
			<h1 class="text-4xl">
				Hi! I'm John <span class="font-emoji">👋</span>,
				<br />
				Product Designer & Product Manager Working In Web3.
			</h1>
		</div> -->
	</section>
</Layout>
