---
import IconJK from './IconJK.astro'

const { page } = Astro.props as { page: 'home' | 'works' | 'about-me' | 'pm-works' | 'contact-me' }
---

<header class="sticky top-0 flex h-20 justify-center bg-jk-black text-jk-white">
	<div class="flex w-full max-w-6xl items-center justify-between px-4 md:px-8">
		<a href="/" class="flex items-center gap-1.5 fill-jk-white text-2xl font-medium">
			<IconJK />
			JOHNNYKAY
		</a>

		<div class="hidden items-center gap-10 lg:flex">
			<nav class="flex gap-10">
				<a
					href="/"
					class={`${
						page === 'home'
							? ''
							: 'text-neutral-500 hover:text-neutral-300 duration-200'
					}`}>Home</a
				>
				<a
					href="/works"
					class={`${
						page === 'works'
							? ''
							: 'text-neutral-500 hover:text-neutral-300 duration-200'
					}`}>Works</a
				>
				<a
					href="/about-me"
					class={`${
						page === 'about-me'
							? ''
							: 'text-neutral-500 hover:text-neutral-300 duration-200'
					}`}>About Me</a
				>
				<a
					href="/pm-works"
					class={`${
						page === 'pm-works'
							? ''
							: 'text-neutral-500 hover:text-neutral-300 duration-200'
					}`}>PM Works</a
				>
				<a
					href="/contact-me"
					class={`${
						page === 'contact-me'
							? ''
							: 'text-neutral-500 hover:text-neutral-300 duration-200'
					}`}>Contact Me</a
				>
			</nav>
			<a
				href="/todo"
				class="flex h-9 items-center justify-center rounded-2xl bg-jk-purple px-6 text-sm duration-200 hover:bg-jk-purple/80"
				>VIEW MY CV</a
			>
		</div>

		<button id="menu-button" class="fill-jk-white lg:hidden">
			<svg xmlns="http://www.w3.org/2000/svg" height="36" viewBox="0 -960 960 960" width="36">
				<path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"
				></path>
			</svg>
		</button>
		<div
			id="menu"
			class="fixed left-0 top-20 hidden h-screen w-full flex-col bg-jk-black px-4 py-20 text-jk-white lg:hidden"
		>
			<nav class="flex flex-col items-center gap-6 text-xl">
				<a
					href="/"
					class={`${
						page === 'home'
							? ''
							: 'text-neutral-500 hover:text-neutral-300 duration-200'
					}`}>Home</a
				>
				<a
					href="/works"
					class={`${
						page === 'works'
							? ''
							: 'text-neutral-500 hover:text-neutral-300 duration-200'
					}`}>Works</a
				>
				<a
					href="/about-me"
					class={`${
						page === 'about-me'
							? ''
							: 'text-neutral-500 hover:text-neutral-300 duration-200'
					}`}>About Me</a
				>
				<a
					href="/pm-works"
					class={`${
						page === 'pm-works'
							? ''
							: 'text-neutral-500 hover:text-neutral-300 duration-200'
					}`}>PM Works</a
				>
				<a
					href="/contact-me"
					class={`${
						page === 'contact-me'
							? ''
							: 'text-neutral-500 hover:text-neutral-300 duration-200'
					}`}>Contact Me</a
				>
				<a
					href="/todo"
					class="flex h-10 items-center justify-center rounded-2xl bg-jk-purple px-7 text-base duration-200 hover:bg-jk-purple/80"
					>VIEW MY CV</a
				>
			</nav>
		</div>
	</div>
</header>

<script>
	const menuButton = document.getElementById('menu-button')!
	const menu = document.getElementById('menu')!

	let isMenuOpen = false
	menuButton.addEventListener('click', () => {
		if (isMenuOpen) {
			menu.classList.replace('flex', 'hidden')
			isMenuOpen = false
		} else {
			menu.classList.replace('hidden', 'flex')
			isMenuOpen = true
		}
	})
</script>
